/* Epsilon Framework Styles*/
@font-face {
    font-family: 'Avenir-Heavy';
    src: url('../fonts/fonts/AvenirLTStd-Heavy.eot');
}

@font-face {
    font-family: 'Avenir-Heavy';
    src:url('../fonts/fonts/AvenirLTStd-Heavy.svg#AvenirLTStd-Heavy') format('svg'),
    url('../fonts/fonts/AvenirLTStd-Heavy.woff') format('woff');
}


@font-face {
    font-family: 'Avenir-Book';
    src: url('../fonts/fonts/AvenirLTStd-Book.eot');
}

@font-face {
    font-family: 'Avenir-Book';
    src:url('../fonts/fonts/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg'),
    url('../fonts/fonts/AvenirLTStd-Book.woff') format('woff');

}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('../fonts/fonts/AvenirLTStd-Medium.eot');
}

@font-face {
    font-family: 'Avenir-Medium';
    src:  url('../fonts/fonts/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg'),
    url('../fonts/fonts/AvenirLTStd-Medium.woff') format('woff');
    font-weight:normal!important;

}


@font-face {
    font-family: 'Avenir-Light';
    src: url('../fonts/fonts/AvenirLTStd-Light.eot');
}

@font-face {
    font-family: 'Avenir-Light';
    src: url('../fonts/fonts/AvenirLTStd-Light.svg#AvenirLTStd-Light') format('svg'),
    url('../fonts/fonts/AvenirLTStd-Light.woff') format('woff');

}

@font-face {
    font-family: 'MyriadProRegular';
    src:  url('../fonts/fonts/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg'),
    url('../fonts/fonts/AvenirLTStd-Medium.woff') format('woff');
    font-weight:normal!important;
}


.disabled{
    display:none;
}
.page-profile-followers{
    position:absolute;
    top: 33px;
    left: 6px;
}
.page-profile-followers a{
    background-color:white;
    text-align:center;
    margin:0 auto;
    width:30px!important;
    padding-left:0px;
    padding-right:0px;
    padding-top:5px;
    padding-bottom:0px;
    border-radius:5px;
    border:1px solid red;
}
.red{color:#FF4B4B}
.red-bg{background-color:#FF4B4B}
.detail-page strong{
    font-size:17px;
}
#above-header{
    position:absolute;
    background-color:#FF4B4B;
    display:block;
    width:100%;
    height: 38px;
    bottom: 0px;
    z-index: 1000;
}
#above-header a{
    text-align:center;
    color:white;
    font-size: 15px;
    letter-spacing:1px;
    /* margin-top: 16px; */
    font-family: Avenir-heavy;
    padding-top: 5px;
}
#header-fixed{
    opacity:1;
    position:fixed;
    width:100%;
    height: 60px;
    background-color: #F1F1F1;
    z-index:99999;
    margin-top: 15px;
}
#header-fixed h3{
    /* color:white!important */
}

/*Put content under header, adjust for fullscren pages*/
.cover-screen, .map-fullscreen{
    margin-top:-60px;
}

#footer-fixed{
    opacity:1;
    position:fixed;
    width:100%;
    height:60px;
    background-color:#FFFFFF;
    z-index:999999;
    bottom:0px;
    margin-top: 10px;
}

.not-active{
    opacity:0!important;
    pointer-events: none!important;
}

.header-style-1{
    border-top:solid 1px rgba(0,0,0,0.1);
    border-bottom:solid 1px rgba(0,0,0,0.1);
}

.header-style-1 .header-1{
    color: #3F3F3F;
    float:left;
    width:60px;
    height: 46px;
    border-right:dashed 1px rgba(0,0,0,0.1);
    z-index: 9000;
    margin-top: 7px;
}
.mCustomScrollbar{
    padding-left: 9px;
}
.header-style-1 .header-1 i{
    height: 51px;
    width:60px;
    text-align:center;
    line-height: 46px;
}

.header-style-1 .header-logo{
    position:absolute;
    /* left:50%; */
    /* margin-left: -73px; */
    display: block;
    /* margin: 0 auto; */
    text-align: center;
    width: 100%;
    font-size: 16px;
    z-index: 100;
    /* top: 6px; */
}
.gocurrentlocation{background:url(../images/location-arrow.png)}

.header-style-1 .header-logo img{
    width:110px;
    margin-top:20px;
}

.header-style-1 .header-2{
    color:#1f1f1f;
    float:right;
    width:60px;
    height: 46px;
    border-left:dashed 1px rgba(0,0,0,0.1);
    z-index: 9000;
    margin-top: 7px;
    padding-top: 7px!Important;
}

.header-style-1 .header-2 i{
    width:60px;
    height:55px;
    line-height:57px;
    text-align:center;
}

.header-clear{
    height:60px;
}

.header-clear-large{
    height:90px;
}

.image-column-left{margin-bottom:30px; padding-right:30px;}
.image-column-left:after{
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.image-column-left img{
    width:115px;
    height:115px;
    border-top-left-radius:0px;
    border-top-right-radius:100px;
    border-bottom-right-radius:100px;
    border-bottom-left-radius:0px;
    margin-left:-50px;
    float:left;
    margin-right:20px;
}

.image-column-left strong{
    display:block;
    width:100%;
    font-size:16px;
}

.image-column-left em{
    font-size:14px;
    font-style:normal;
}

.image-column-right{margin-bottom:30px; padding-left:30px;}
.image-column-right:after{
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.image-column-right img{
    width:115px;
    height:115px;
    border-top-left-radius:100px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:100px;
    float:right;
    margin-left:20px;
    margin-right:-50px;
}

.image-column-right strong{
    display:block;
    width:100%;
    font-size:16px;
}

.image-column-right em{
    font-size:14px;
    font-style:normal;
}

.footer-icons{
    width:265px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
}

.footer-icons a{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:5px;
    margin-right:5px;
}

.footer-icons a i{
    width:40px;
    height:40px;
    line-height:40px;
    font-size:12px;
}

.footer p{
    margin-bottom:15px;
}

/*Sidebar*/

/*Sidebar Header Left*/

.sidebar-header-left{
    height:60px;
    border-bottom:solid 1px rgba(255,255,255,0.05);
    background-color:#FFFFFF;
}

.sidebar-header-left a img{
    width:120px;
    margin-top:22px;
    margin-left:30px;
}

.sidebar-header-left a:first-child{
    width:130px;
    float:left;
}

.sidebar-header-left a:last-child{
    width:60px;
    height:60px;
    line-height:60px;
    color:#1f1f1f;
    position:absolute;
    left:205px;
    text-align:center;
    border-left:dashed 1px rgba(0,0,0,0.1);
    border-right:dashed 1px rgba(0,0,0,0.1);
}

.sidebar-header-left a i{width:54px; height:60px; line-height:60px; text-align:center;}


/*Sidebar Header Right*/

.sidebar-header-right{
    height:60px;
    border-bottom:solid 1px rgba(255,255,255,0.05);
    background-color:#FFFFFF;
    padding-right:30px;
}

.sidebar-header-right a img{
    width:120px;
    margin-top:22px;
}

.sidebar-header-right a:first-child{
    width:120px;
    float:right;
}

.sidebar-header-right a:last-child{
    width:60px;
    height:60px;
    line-height:60px;
    color:#1f1f1f;
    position:absolute;
    left:0px;
    text-align:center;
    border-left:dashed 1px rgba(0,0,0,0.1);
    border-right:dashed 1px rgba(0,0,0,0.1);
}

.sidebar-header-left a i{width:54px; height:60px; line-height:60px; text-align:center;}

/*Sidebar Menu*/


.menu-item{
    height:50px;
    color:#6b757d;
    transition:all 250ms ease;
}

.menu-item-active .fa-circle{
    color:#2ecc71!important;
    opacity:1!important;
    font-size:6px!important;
    margin-left:231px!important
}

.menu-item-active{
    color:#FFFFFF;
    transition:all 250ms ease;
}

.menu-item em:hover{
    color:#FFFFFF;
    transition:all 250ms ease;
}

.menu-item i:first-child{
    position:absolute;
    font-size:18px;
    width:20px;
    text-align:center;
    top:50%;
    margin-top:-8px;
    margin-left:30px;
}

.menu-item i:last-child{
    position:absolute;
    font-size:5px;
    margin-left:232px;
    top:50%;
    margin-top:-1px;
    opacity:0.5;
}

.menu-item strong{
    font-size:10px;
    position:absolute;
    left:214px;
    color:rgba(255,255,255,0.5);
    top:50%;
    margin-top:-13px;
    font-weight:500;
    width:40px;
    text-align:center;
    transition:all 250ms ease;
}

.menu-item em{
    font-family:'Roboto', sans-serif;
    display:block;
    line-height:52px;
    font-style:normal;
    padding-left:75px;
    font-size:13px;
    font-weight:500;
    transition:all 250ms ease;
}

/*Submenu Items*/

.submenu-item{
    height:50px;
    color:#6b757d;
    transition:all 250ms ease;
}

.submenu-item em:hover{
    color:#FFFFFF;
    transition:all 250ms ease;
}

.submenu-item i:first-child{
    position:absolute;
    font-size:11px;
    top:50%;
    margin-top:-4px;
    margin-left:75px;
}

.submenu-item i:last-child{
    position:absolute;
    font-size:5px;
    margin-left:232px;
    top:50%;
    margin-top:-1px;
    opacity:0.2;
}

.submenu-item em{
    font-family:'Roboto', sans-serif;
    display:block;
    line-height:52px;
    font-style:normal;
    padding-left:100px;
    font-size:12px;
    font-weight:500;
    transition:all 250ms ease;
}

.submenu-active{
    display:block;
    color:#FFFFFF;
}

.show-submenu{
    max-height:52px!important;
}

.submenu{
    overflow:hidden;
    max-height: 0;
    transition: max-height 0.25s ease-out;
}

.submenu-active{
    max-height: 500px;
    transition: max-height 0.25s ease-in;
}


.submenu-item-active{
    display:block;
    color:#FFFFFF;
    transition:all 250ms ease;
}

.submenu-item-active .fa-circle{
    color:#27ae60!important;
    opacity:1!important;
}

.submenu-active strong{
    color:#FFFFFF;
    transition:all 250ms ease;
}

.snap-drawer, .snap-drawers{
    background-color:#272c2e!important;
}

.sidebar-menu{
    margin-bottom:30px;
}

.sidebar-divider{
    font-family:'Roboto', sans-serif;
    margin-top:10px;
    margin-bottom:20px;
    padding-bottom:5px;
    font-size:10px;
    padding-left:30px;
    font-weight:800;
    text-transform: uppercase;
    color:#495254;
    border-bottom:solid 1px rgba(255,255,255,0.03);
}

.sidebar-footer{
    font-family:'Roboto', sans-serif;
    margin-bottom:10px;
    padding-top:10px;
    font-size:10px;
    padding-left:30px;
    font-weight:800;
    text-transform: uppercase;
    color:#495254;
    border-top:solid 1px rgba(255,255,255,0.03);
}




/*Sidebar Contact Form*/

.sidebar-form{
    width:220px;
    margin-left:20px;
}

.sidebar-form *{
    transition:all 400ms ease!important;
}

.sidebar-form .button{
    letter-spacing:normal;
    font-weight:600;
    font-family:'Open Sans', sans-serif;
}

.sidebar-form em{
    font-size:12px;
    font-style:normal;
    margin-bottom:20px;
    display:block;
    width:100%;
    padding:0px!important;
}

.sidebar-form .contactField{
    font-family:'Roboto', sans-serif;
    height:40px!important;
    line-height:40px!important;
    background-color:transparent;
    border:none;
    border-bottom:solid 1px rgba(255,255,255,0.08);
    margin-bottom:20px;
    padding-left:10px;
}

.sidebar-form .contactField:hover{
    color:#FFFFFF;
}

.sidebar-form .contactField:focus{
    color:#FFFFFF;
    border-left:none;
    border-right:none;
    border-top:none;
    border-bottom:solid 1px #2cc36b!important;
}

.sidebar-form .contactTextarea{
    height:40px;
    background-color:transparent;
    border:none;
    border-bottom:solid 1px rgba(255,255,255,0.08)!important;
    margin-bottom:40px;
    padding-left:10px;
    transition:all 400ms ease;
}

.sidebar-form .contactTextarea:hover{
    color:#FFFFFF;
}


.sidebar-form .contactTextarea:focus{
    font-family:'Roboto', sans-serif;
    color:#FFFFFF;
    border-left:none;
    border-right:none;
    border-top:none;
    border-bottom:solid 1px #2cc36b!important;
    height:100px;
    transition:all 400ms ease;
}

.snap-drawer-right::-webkit-scrollbar { width: 0 !important }

.sidebar-form .formValidationError{
    font-size:11px!important;
    text-align:center;
    background-color:#c0392b;
    color:#FFFFFF;
    margin-bottom:20px;
}

.formSuccessMessageWrap{
    font-size:11px!important;
    text-align:center;
    background-color:#27ae60;
    color:#FFFFFF;
    margin-bottom:20px;
}

.detail-page i{font-size:24px;color: #FF4B4B;margin-right: 27px!important;/* height: 100px; */max-width: 17px;}
.detail-page .sub{margin-left:24px; margin-top:-3px; line-height: 24px;margin-bottom:20px}
.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.pleasecomment{margin-top:-30px}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    left: -100%;
}
.searchs{
    position:absolute;
    top: 54px;
    z-index:9;
    /* margin-left:10px; */
    width: 100%;
    padding: 0px!important;
    margin: 0px!IMPORTANT;
}
.searchs input[type=text]{width:120%}

.bgimage{ background:url(../images/bg.jpg) no-repeat 0 0; background-size:100% auto;  position:fixed; width:100%; height:100%; z-index:0; top:0px; left:0;}

.bg-black {
    background-color: rgba(0, 0, 0, 0.87)!important;
}
#search-decal{position:absolute;top: 150px;z-index: 200;width:100%;}
.decal{background: rgba(255, 255, 255, 0.68);border-radius:4px;padding-right: 21px;padding-left: 0px;width: 135px;float: right;}
.direction-controls{
    position:absolute;
    z-index:1000;
    top: 184px;
    right: 32px;
    display:none;
}
.direction-controls a{
    display:block;
    padding:4px 6px;
    margin:2px;
    font-size: 13px;
}
.direction-controls .btn-icon i{
    background: #524C4C;
    display:inline-block;
    padding: 6px;
    color:white;
    border-radius:40px;
    font-size: 11px;
}
.direction-controls a:nth-child(2){
    background-color: #737373;
    color: #FFFFFF;
    /* border-color: #FFFFFF; */
    text-shadow: none;
}
.route-controls .btn{zoom:0.9; margin-bottom:10px;}
#comment-error{float:left; top:-10px; position:relative;left:25px}
#ToCross, #FromCross{position:absolute;top:1px; padding-left:4px;}
form[name='userForm'] input[type='text']{padding-left:20px}
form[name='feedbackForm'] input[type='text']{padding-left:20px}
#access-card{
    margin-top: 115px;
    width: 90%;
    border:1px solid red;
    height: 59%;
    display:inline-block;
    margin-left:5%;
    /* -webkit-transform: rotate(-90deg); */
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* transform: rotate(-90deg); */
    box-shadow: 2px 2px 17px rgba(0, 0, 0, 0.52);
}
#access-left img.bottom{
    position:absolute;
    bottom:15px;
    width: 68%;
    display:inline-block
}
#access-left {/* margin-top:20px; */background: white;display: block;height: 100%;padding-top: 20px;}
#access-right{padding:20px;height:100%; color:white!important}
#access-right * {color:white!important}
#access-right p strong{
    top:20px;
    font-size: 20px;
    line-height:20px!important;
    position:relative;
    border-bottom: 2px dotted;
    padding:10px 10px;
    display: block;
}
#access-right p{line-height: 19px!important;margin:20px 0px;font-size: 15px;}
.logo-right img{width:140px!important;height:70px; position:relative;top:-14px}
.logo-right{display:flex;color:white;float:right;position: absolute;bottom: 36px;z-index: 10;right: 30px;}
.about-us{padding:30px 20px;}
.about-us p{line-height:26px}
.splash-icon{
    text-align:center;
    margin:0 auto;
    padding:10px 10px;
    border-radius:100px;
    width:60px!important;
}

.snap-content { margin-bottom:38px; }

#location-list-toggle-up,#location-list-toggle-down{text-align:center; font-size:16px; padding-top:2px}