
<div id="header-fixed" class="header-style-1">

    <a class="header-1" href ng-click="backToPages()"><i class="fa fa-chevron-left"></i></a>
    <h3 class="header-logo">{{ $root.PageName | translate}}</h3>
    <a class="header-2 open-right-sidebar" href="javascript:void(0)" style="padding:15px 10px;"><strong class="">{{ 'MENU' | translate}}</strong></a>
</div>
