<div class="content">
	<div class="header-clear"></div>
    <div class="pageapp-login bg-5 cover-screen">  
    	<div class="pageapp-login-content cover-center">
			<div class="unboxed-layout">
    			<form novalidate name="userForm" ng-submit="checkLogin(userForm.$valid)">
          			<a href="javascript:void(0)" class="pageapp-login-logo"></a>
                    <div class="alert alert-danger hide" role="alert"></div>
                      <div class="pageapp-login-field">
                          <i class="fa fa-user"></i>
                          <input type="email" value="Email" name="Email" ng-model="Email" placeholder="{{ 'EMAIL' | translate}}" required>
                          <div style="color:red" ng-show="userForm.Email.$dirty && userForm.Email.$invalid">
                              <span ng-show="userForm.Email.$error.required">{{ 'EMAIL_REQUIRE' | translate}}.</span>
                              <span ng-show="userForm.Email.$error.email">{{ 'INVALID_EMAIL' | translate}}.</span>
                          </div>
                      </div>
                      <div class="pageapp-login-field">
                          <i class="fa fa-lock"></i>
                          <input type="password" value="password" name="Password" ng-model="Password" placeholder="{{ 'PASSWORD' | translate}}" ng-minlength="6" required>
                          <div style="color:red" ng-show="userForm.Password.$dirty && userForm.Password.$invalid">
                              <span ng-show="userForm.Password.$error.required">{{ 'PASSWORD_REQUIRE' | translate}}.</span>
                              <span ng-show="userForm.Password.$error.minlength">{{ 'PASSWORD_LENGTH' | translate}}.</span>
                          </div>
                      </div>
                      <div class="clear"></div>
                      <input type="submit" name="Login" value="{{ 'LOGIN' | translate}}" ng-disabled="userForm.$invalid" class="login-button button button-small button-green button-fullscreen full-bottom"/> 
                      <div class="decoration"></div>
                      <div class="row">
                      	<div class="col-xs-6">
                            <a href="#/forget-password" class="login-forgot"><i class="fa fa-eye"></i> {{ 'FORGET_PASSWORD' | translate}}</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#/create-account" class="login-create"><i class="fa fa-user"></i> {{ 'CREATE_ACCOUNT' | translate}}</a>
                        </div>
                      </div>
                      <div class="decoration"></div>
                      <div class="clear"></div>
                      <a href="javascript:void(0)" ng-click="fblogin()" class="facebook-login facebook-color"><i class="fa fa-facebook"></i>{{ 'FB_LOGIN' | translate}}</a>
				</form>
    		</div>
		</div>
    	<div class="overlay bg-black"></div>
    </div>
</div>