<style type="text/css">
	.angular-google-map-container {  height: 300px; width: 100%; }
</style>
<div class="content">
	<div class="header-clear"></div>


    <div class="row searchs center-block" style="">
    	<form name="userForm" ng-submit="searchzip()" novalidate>
            <div class="row col-xs-12">
				<input type="hidden" name="Decal" id="Decal" value="0" />
				<input ng-model="FromAddress" id="FromAddress" type="text" value="" class="form-control" placeholder="{{ 'FROM_ADDRESS' | translate}}" g-places-autocomplete required autocomplete="off">
            	<a href="javascript:void(0)" ng-click="clearFrom()" id="FromCross"><i class="fa fa-times"></i></a>
            </div>
            <div class="row col-xs-12" style="">
                <input ng-model="ToAddress" id="ToAddress" type="text" value="" class="form-control" g-places-autocomplete placeholder="{{ 'TO_ADDRESS' | translate}}" autocomplete="off">
                <a href="javascript:void(0)" ng-click="clearTo()" id="ToCross" style="display:none"><i class="fa fa-times"></i></a>
            </div>
            <div class="row col-xs-offset-10 col-xs-2">
                <input type="submit" name="AddLocation" value="{{ 'GO' | translate}}" class="login-button button-red red-bg button-fullscreen"/>
            </div>


        </form>
    </div>
    <div class="row" id="search-decal">
        <div id="location-arrow">
            <a style="margin-left: 10px" class="gocurrentpostiton" href="javascript:void(0)" ng-click="mylocation()"><img src="images/location-arrow.png"></a>
        </div>
        <div class="col-xs-4 col-xs-offset-8">
            <div class="row decal">

                <strong class="col-xs-6 text-left">{{ 'DECAL' | translate}}</strong>
                <a href="javascript:void(0)" class="switch switch-1 isDecals switch-1-off col-xs-2" ng-click="getdecal()">
                    <span></span>
                </a>

            </div>
        </div>
    </div>
	<div class="direction-controls row">
        <div class="col-xs-9 col-xs-offset-4">
            <a class="col-xs-3 simple-modal btn-icon"  href="javascript:void(0)"  onClick="//window.location.reload()"><i class="fa fa-times"></i></a>
            <a class="btn btn-small btn-default col-xs-8" href="javascript:void(0)" ng-click="showdirectionsMap()">{{ 'DIRECTION' | translate}}</a>
            <a class="btn btn-small btn-default col-xs-8 simple-modal" href="javascript:void(0)" ng-click="saveRoutes()">{{ 'SAVE_ROUTE' | translate}}</a>
        </div>
    </div>

	<ui-gmap-google-map center='map.center' zoom='map.zoom' refresh='true' dorebuildall="true" expression='true' options="{disableDefaultUI: true}" ng-click="expandMap()" control="map.control">
    	<ui-gmap-marker idkey="map.homemarker.markid" coords="map.homemarker.coords" options="{icon:map.homemarker.icon}" events="map.homemarker.events" doRebuildAll="true"></ui-gmap-marker>
        <ui-gmap-marker ng-repeat="m in map.markers" idKey="m.id" options="{icon:m.icon}" coords="m.coords" click="onClick()" events="marker.events">
        	<ui-gmap-window show="0" options="windowOptions" closeClick="closeClick()" ng-if="m.name != 'Current Location'">
                <div>
                	<span>{{m.name}}<br/></span>
                	<span><a href="https://www.google.ca/maps/dir/{{Currentlats}},{{Currentlongs}}/{{m.coords.latitude}},{{m.coords.longitude}}">{{ 'DIRECTION' | translate}}</a></span>
                </div>
            </ui-gmap-window>
        </ui-gmap-marker>
		<ui-gmap-polyline ng-repeat="p in polylines" stroke="p.stroke" path="p.path"></ui-gmap-polyline>
    </ui-gmap-google-map>
    <div id="location-list-toggle-up" ng-click="closeMap()">
        List of Washrooms
        <i class="fa fa-angle-up" style="font-size: 20px; margin-left:5px;"></i>
    </div>
    <div id="location-list-toggle-down" ng-click="expandMap()" style="display:none">
        List of Washrooms
        <i class="fa fa-angle-down" style="font-size: 20px; margin-left:5px;"></i>
    </div>
    <div id='location-list' class="container hidetext" ng-scrollbars ng-scrollbars-config="scrollbarConfig">
    	<div class="one-third-responsive mapinfo" style="width:100%">
        </div>
    </div>
</div>
<div class="simple-modal-content modal-content rounded-modal" id="save-route-modal">
    <h4>{{ 'SAVE_THIS_ROUTE' | translate}}</h4>
    <form name="routeForm" ng-submit="saveUserRoutes(routeForm.$valid)" novalidate>
    <div class="row">
    	<div class="col-xs-12">
        	<label for="RouteName">{{ 'ROUTE_NAME' | translate}}</label>
        </div>
        <div class="col-xs-12">
        	<input type="text" name="RouteName" value="" ng-model="RouteName" required />
            <div style="color:red" ng-show="routeForm.Comment.$dirty && routeForm.Comment.$invalid">
              <span ng-show="routeForm.Comment.$error.required">{{ 'ROUTE_REQUIRE' | translate}}.</span>
            </div>
        </div>
        <div class="col-xs-12">
        	 <input type="submit" name="SaveRoutes" value="Save Route" class="button button-red button-small round-button button-center" />   
        </div>
    </div>
    </form>
</div>
<div style='background:transparent; box-shadow: none; border:none' class="simple-modal-content4 modal-content rounded-modal  text-center">
    <h2 style="line-height: 30px; color:white">{{ 'LOCATION_ACCESS' | translate}}</h2>
    <h4 style="color:white">{{ 'GPS_ACCESS' | translate}}</h4>
    <a href="javascript:void(0)" class="button button-red button-small round-button modal-close button-center">{{ 'DISMISS' | translate}}</a>
</div>
<div class="simple-modal-content2 modal-content rounded-modal">
    <h4>{{ 'ERROR' | translate}}!</h4>
    <p>{{ 'CHOOSE_BOTH' | translate}}.</p>
    <a href="#" class="button button-red button-small round-button modal-close button-center">{{ 'CLOSE' | translate}}</a>
</div>
<div class="simple-modal-content3 modal-content rounded-modal">
    <h4>{{ 'ERROR' | translate}}</h4>
    <p>{{ 'ROUTE_LOGIN' | translate}}.</p>
    <a href="#" class="button button-red button-small round-button modal-close button-center">{{ 'CLOSE' | translate}}</a>
</div>
<!-- /.modal -->