<div class="content">
	<div class="header-clear"></div>
    <div class="decoration"></div>
    <div class="pageapp-signup bg-5 cover-screen">  
    	<div class="pageapp-signup-content cover-center">
			<div class="unboxed-layout">
            	<form name="userForm" ng-submit="checkRegister(userForm.$valid)" novalidate>
          			<a href="javascript:void(0)" class="pageapp-login-logo"></a>
                      <div class="alert alert-danger hide" role="alert"></div>
                      <div class="pageapp-signup-field" ng-class="{ 'has-error' : userForm.Name.$invalid && !userForm.name.$pristine }">
                          <i class="fa fa-user"></i>
                          <input type="text" value="Full Name" name="Name" ng-model="Name" placeholder="{{ 'FULL_NAME' | translate}}" required>
                          <div style="color:red" ng-show="userForm.Name.$dirty && userForm.Name.$invalid">
                              <span ng-show="userForm.Name.$error.required">{{ 'NAME_REQUIRE' | translate}}.</span>
                          </div>
                      </div>
          			  <div class="pageapp-signup-field">
                          <i class="fa fa-envelope-o"></i>
                          <input type="email" value="Email" ng-model="Email" name="Email" placeholder="{{ 'EMAIL' | translate}}" required>
                          <div style="color:red" ng-show="userForm.Email.$dirty && userForm.Email.$invalid">
                              <span ng-show="userForm.Email.$error.required">{{ 'EMAIL_REQUIRE' | translate}}.</span>
                              <span ng-show="userForm.Email.$error.email">{{ 'INVALID_EMAIL' | translate}}.</span>
                          </div>
                      </div>
                      <div class="pageapp-signup-field">
                          <i class="fa fa-lock"></i>
                          <input type="password" value="password"  ng-model="Password" name="Password" placeholder="{{ 'PASSWORD' | translate}}" ng-minlength="6" required>
                      	  <div style="color:red" ng-show="userForm.Password.$dirty && userForm.Password.$invalid">
                              <span ng-show="userForm.Password.$error.required">{{ 'PASSWORD_REQUIRE' | translate}}.</span>
                              <span ng-show="userForm.Password.$error.minlength">{{ 'PASSWORD_LENGTH' | translate}}.</span>
                          </div>
                      </div>
                      <div class="pageapp-signup-field">
                          <i class="fa fa-calendar-o"></i>
                          <input type="text" value="Postal Code" ng-model="Postcode" name="Postcode" placeholder="{{ 'POSTCODE' | translate}}" ng-minlength="6" ng-maxlength="6" required>
			          	  <div style="color:red" ng-show="userForm.Postcode.$dirty && userForm.Postcode.$invalid">
                              <span ng-show="userForm.Postcode.$error.required">{{ 'POSTCODE_REQUIRE' | translate}}.</span>
                              <span ng-show="userForm.Postcode.$error.minlength || userForm.Postcode.$error.maxlength">{{ 'POSTCODE_LENGTH' | translate}}.</span>
                          </div>
                      </div>
          			  <div class="clear"></div>
          			  
          			  <input type="submit" name="Register" value="{{ 'REGISTER' | translate}}" ng-disabled="userForm.$invalid" class="login-button button button-small button-green button-fullscreen full-bottom"/>          
				</form>
                <p class="text-center">{{ 'ALREADY_REGISTER' | translate}}? <a href="#/login" class="login-already">{{ 'LOGIN_HERE' | translate}}.</a></p>
                
    		</div>
		</div>
		<div class="overlay bg-black"></div>
    </div>
</div>