<style type="text/css">
	.owl-controls { display: none; }
</style>
<div class="content">
    <div class="container-fullscreen coverpage-slider" data-snap-ignore="true">
        <div class="cover-slide cover-screen bg-5">
            <div class="cover-center">
                <img  style="width:50px" class="text-center splash-icon" src="images/map-pin_.png">
                <h3 class="center-text bold uppercase">What is GoHere?</h3>
                <p class="center-text">
                    GoHere is a simple app designed to help people with Crohn's disease and ulcerative colitis to find washrooms.
                </p>
             </div>
            <div class='logo-right'><span>Developed by</span><img src="images/ccc-logo-white.png"></div>
            <div class="overlay bg-black"></div>
        </div>
        <div class="cover-slide cover-screen bg-3">
            <div class="cover-left">
                <h2 class="ultrabold">
                    EASY<br>
                    MAP<br>
                    SEARCH<br>
                </h2>
                <p>
                	The map provides an easy interface<br> to navigate, find and <br> save locations.
                </p>
             </div>
            <div class='logo-right'><span>Developed by</span><img src="images/ccc-logo-white.png"></div>
            <div class="overlay bg-black"></div>
        </div>
        <div class="cover-slide cover-screen bg-6">
            <div class="cover-right">
                <h2 class="ultrabold right-text">
                    RATINGS<br>
                    & FEEDBACK<br>
                    INCLUDED<br>
                </h2>
                <p class="right-text">
                    Washrooms are rated, with feedback<br>
                    by our users.
                </p>
                <a href="#/language" ng-click="setSplash" class="button button-cover button-right">Get Started</a>
            </div>
            <div class='logo-right'><span>Developed by</span><img src="images/ccc-logo-white.png"></div>
            <div class="overlay bg-black"></div>
        </div>
    </div>
</div>